main {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 40px;
}

section h2 {
	margin-bottom: 20px;
	color: #333;
}

section p {
	margin-bottom: 20px;
	line-height: 1.5;
}

section ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

section ul li {
	display: flex;
	flex-direction: column;
	align-items
}
p{
    font-size:18px;
}
